.portableTextContainer {
    >* {
        font-size: $Fs-p;
        
        >* {
            font-size: $Fs-p;
            padding: unset !important;
            background-color: unset !important;
        }
    }
}