.settingsToggle {
    // position: absolute;
    // top: calc($Sites-PaddingBlock-Mobile + 5px);
    // right: $Sites-PaddingInline-Mobile;
    @include flexIt();

    gap: 8px;
}

.toggle {
    --width: 48px;
    --divisor: 2.3;
    --height: calc(var(--width) / var(--divisor));
    --border-radius: calc(var(--height) / var(--divisor));

    display: inline-block;
    cursor: pointer;
}

.toggle--input {
    display: none;
}

.toggle--container {
    // padding: 5% 10%;
    @include flexIt();
    justify-content: space-around;
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 1px solid var(--foreground);
    // transition: background 0.2s;

    >* {
        width: calc((var(--width) / 2) / 2);
        max-height: 60%;
    }
}

.toggle--container::after {
    content: "";
    position: absolute;
    left: -4px;
    --toggleSize: calc(var(--height) + 2px);
    height: var(--toggleSize);
    width: var(--toggleSize);
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--foreground);
    border-radius: 50%;
    transition: transform 0.2s;
}

.toggle--input:checked~.toggle--container::after {
    transform: translateX(calc((var(--width)) - var(--toggleSize) + 4px));
}

@include for-phone-and-phone-landscape {
    .toggle {
        --width: 40px;
        cursor: pointer;
    }
}

#icon_sun {
    fill: #FBB040;
}

#icon_moon {
    fill: var(--foreground);
}

#icon_de,
#icon_en {
    fill: var(--foreground);
}