@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.introScroller--item {
    // min-height: 100vh;
    display: grid;
    place-content: center;
    width: 50%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    text-align: center;

    &--heading {
        font-size: $Fs-h1;
        font-weight: bold;
        line-height: 1.5;
    }

    &--buttons {
        margin-top: 3rem;
        @include flexIt($dir: column);
    }
}

.introScroller--item--heading {
    span {
        opacity: 0;
        transition: opacity 200ms ease;
    }

    span.fade {
        opacity: 1;
    }
}

.introScroller--item--buttons {
    >:first-child {
        margin-bottom: 1rem;
    }

    >* {
        font-size: $Fs-h2;
        color: var(--foreground);
        border-radius: 8px;
        position: relative;
        z-index: 10;
        padding-block: .7rem;
        padding-inline: .5rem;
        transition: transform 500 ease-in-out, color 500ms ease-in-out;
    }
    >*:focus,
    >*:hover{
        transform: scale(1.05);
    }
}

.introScroller--item--buttons>* {
    >* {
        border-radius: inherit;
        inset: 0;
    }

    >:first-child {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        font-size: $Fs-h2;
        background-color: var(--background);
    }

    >:last-child {
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
    }

    >:last-child::after,
    >:last-child::before {
        position: absolute;
        inset: -2px;
        z-index: -5;
        content: "";
        background: conic-gradient(from var(--gradient-angle),
                var(--foreground),
                var(--background),
                var(--clr-action),
                var(--background),
                var(--foreground),
            );
        border-radius: inherit;
        animation: rotateBorder 10s linear infinite;
        transition: background 500ms infinite;
        isolation: isolate;
    }

    >:last-child::after {
        filter: blur(.2rem);
    }

    @keyframes rotateBorder {
        0% {
            --gradient-angle: 0deg;
        }

        100% {
            --gradient-angle: 360deg;
        }
    }
}

.introScroller--item.fadeIn {
    opacity: 1;

}

@include for-smallLaptop {
    .introScroller--item {
        width: 60%;
    }
}

@include for-tablet {
    .introScroller--item {
        width: 70%;
    }
}

@include for-phone {
    .introScroller--item {
        width: 80%;
    }

    .introScroller--item--buttons {
        >* {
            font-size: $Fs-h3;
        }
    }
}