.introScroller {
    @include flexIt($dir: column, $justCont: center, $alignIt: center);
    padding-block: calc($Sites-PaddingBlock * 10);
    gap: 30vh;
}

@include for-phone {
    .introScroller {
        padding-block: calc($Sites-PaddingBlock * 5);
        gap: 25vh;
    }
}

@import "./introScrollerItem";