.scrollUpBtn {
    opacity: 1;
    border: none;
    // position: sticky;
    position: sticky;
    z-index: 5;
    // bottom: $Sites-PaddingBlock;
    bottom: 10%;
    background-color: var(--background);
    // transform: translateX(calc(50vw - 64px / 2)) translateY(32px);
    transform: translateX(calc(100vw - 64px - 6rem)) translateY(64px);
    width: 64px;
    height: 64px;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.scrollUpBtn {
    &--svg {
        width: 32px;
        height: 32px;
        transform: rotate(180deg);
        stroke: var(--foreground);
        >path {
            fill: var(--foreground);
        }
    }
}

@include for-phone {
    .scrollUpBtn {
        position: static;
        transform: translateX(calc(50vw - 64px / 2)) translateY(32px);
    }
}