.projects {
    padding: unset;
    min-height: 100vh;

    >* {
        width: 100%;
    }

    &--heroSection {
        min-height: 100vh;
        padding-block: $Sites-PaddingBlock;
        padding-inline: $Sites-PaddingInline;
        @include flexIt($dir: column, $justCont: flex-start);
    }

    &--projectItemContainer {
        row-gap: 5vh;
        padding-inline: $Sites-PaddingInline;
        padding-block: $Sites-PaddingBlock-Big;
    }
}

@include for-phone {
    .projects {
        &--projectItemContainer {
            padding-block: calc($Sites-PaddingBlock * 2);
        }
    }
}

@import "./projectsHero";
@import "./projectItemContainer";