.aboutMe--entries--entry {
    width: 100%;
    @include flexIt();
    height: 50vh;
    gap: 3rem;

    >* {
        height: 100%;
    }

    $leftAmount: .4;

    &--leftContainer {
        flex: $leftAmount;
        // flex-basis: .1;
    }

    &--rightContainer {
        // flex: 1 1 auto;
        flex: calc(1 - $leftAmount);
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2rem;
    }
}

.aboutMe--entries--entry--leftContainer {
    &--img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: 30% 5%;
    }
}

.aboutMe--entries--entry--rightContainer {
    &--linkContainer {
        background-color: var(--foreground);
        padding-block: .2rem;
        padding-inline: .3rem;
        border-radius: 8px;
        width: fit-content;
    }

    &--textContainer {
        // flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 2rem;
        /* Prevents this container from growing past its boundaries */
    }
}

.aboutMe--entries--entry--rightContainer--linkContainer {
    &--socialLink {
        width: 32px;
        background-color: transparent;
        padding: unset;
    }
}

.aboutMe--entries--entry--rightContainer--linkContainer--socialLink {
    &--img {
        width: 32px;
    }
}

.aboutMe--entries--entry--rightContainer--textContainer {
    &--heading {
        font-size: $Fs-h1;
        font-weight: bold;
    }

    &--text {
        max-width: 100%;
        overflow-y: auto;
    }
}

.aboutMe--entries--entry--rightContainer--textContainer--text {
    >* {
        font-size: $Fs-p;
        margin-block: unset;
        margin-inline: unset;
        padding-bottom: 5px;
    }
}

@include for-phone {
    .aboutMe--entries--entry {
        margin-block: 1rem;
        flex-direction: column;
        height: fit-content;
        gap: 2rem;

        &--rightContainer {
            text-align: center;
            gap: 2rem;
            align-items: center;
        }
    }
    .aboutMe--entries--entry--rightContainer {
        &--textContainer {
            gap: 1rem;
        }
    }
}