.aboutMe {
    min-height: 100vh;
    @include flexIt($dir: column, $justCont: flex-start, $alignIt: center);
    text-align: center;
    padding-block: $Sites-PaddingBlock;
    padding-inline: $Sites-PaddingInline;

    &--entries {
        max-width: 1200px;
        flex: 1;
        width: 100%;
        @include flexIt($dir: column, $justCont: center, $alignIt: center);
    }
}

@import "./aboutMeEntry";