.sites>*,
.site,
.impressum,
.datenschutz {
    padding-block: $Sites-PaddingBlock;
    padding-inline: $Sites-PaddingInline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexIt($dir: column, $justCont: center, $alignIt: center);
}

.impressum,
.datenschutz {
    @include flexIt($dir: column, $alignIt: flex-start, $justCont: flex-start);
    padding-block: $Sites-PaddingBlock;
    padding-inline: $Sites-PaddingInline;
    min-height: 100vh;
    
    &--heading {
        margin-block: 2rem;
    }

    &--textContainer {
        max-width: 100%;
        overflow-x: scroll;
    }
    
    &--lanDisclaimer {
        margin-bottom: 2rem;
        font-style: italic;
    }
}

@include for-phone {

    .sites>*,
    .site,
    .impressum,
    .datenschutz {
        padding-block: $Sites-PaddingBlock-Mobile;
        padding-inline: $Sites-PaddingInline-Mobile;
    }
}