.sites>* {
    padding-block: $Sites-PaddingBlock;
    padding-inline: $Sites-PaddingInline;
}

.site {
    @include flexIt($dir: column, $justCont: center, $alignIt: center);
    background-color: var(--background);
    $thickness: 5%;
    $multiplier: 7;
    background-image:
        linear-gradient(var(--gradient-one) $thickness,
            var(--gradient-two) calc($thickness * $multiplier),
            var(--background));
}

@include for-phone {

    .sites>*,
    .site {
        padding-block: $Sites-PaddingBlock-Mobile;
        padding-inline: $Sites-PaddingInline-Mobile;
    }
}