:root {
    --clr-primary: #272727;
    --clr-secondary: #EFE9E7;
    --clr-action: #13C4A3;
    --clr-grad-one: #3E92CC;
    --clr-grad-two: #13293D;

    --foreground: var(--clr-primary);
    --background: var(--clr-secondary);

    --gradient-one: var(--clr-grad-one);
    --gradient-two: var(--clr-grad-two);
}

.dark {
    --foreground: var(--clr-secondary);
    --background: var(--clr-primary);
    --gradient-one: var(--clr-grad-one);
    --gradient-two: var(--clr-grad-two);
}

.light {
    --foreground: var(--clr-primary);
    --background: var(--clr-secondary);
    --gradient-one: var(--clr-grad-one);
    --gradient-two: var(--clr-grad-two);
}