@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    // overflow: hidden;
}

body {
    // position: fixed;
    // height: 100%;
    // overflow-y: hidden;
    width: 100%;
    font-family: 'Lekton', sans-serif;
    font-weight: 400; //regular
    line-height: 1;
    font-style: normal;
    font-size: 16px;
    color: var(--foreground);
    background-color: var(--background);
    scroll-behavior: smooth;
}

body.navOpen {
    overflow: hidden;
}

button,
a,
textarea {
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--background);
    background-color: var(--background);
}

a,
button {
    font-size: $Fs-h4;
    user-select: none;
    line-height: 1;
    cursor: pointer;
    border-radius: 8px;
    // padding-inline: .5rem;
    padding-inline: .5rem;
    // padding-block: .25rem;
    padding-block: .7rem;
    border: none;
}

img {
    max-height: 100%;
}

::selection {
    background-color: var(--foreground);
    color: var(--background);
}