.services {
    min-height: 100vh;
    text-align: center;
    padding-block: $Sites-PaddingBlock-Big;
    // position: relative;

    &--heading {
        line-height: 1;
        font-size: $Fs-h1;
        font-weight: bold;
    }

    &--line {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
    }

    &--toContactButton {
        font-size: $Fs-h3;
        background-color: var(--clr-action);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    &--toContactButton.fadeIn {
        opacity: 1;
    }
}

.services--toContactButton {
    span {
        margin-left: .5rem;
        display: inline-block;
        transform: rotate(90deg);
    }
}

.services--line {
    line {
        stroke-width: 4px;
    }
    &--main {
        stroke: var(--foreground);
    }
    &--loading {
        // stroke: var(--clr-action);
        stroke: var(--foreground);
        // stroke-dasharray: 100%;
        stroke-dashoffset: 0;
    }
}

@import "./servicesItemContainer";