.contact {
    min-height: 100vh;

    &--heading {
        font-size: $Fs-h1;
        text-align: center;
        font-weight: bold;
    }
}

@import "./formContainer";

@include for-phone {
    .contact {
        min-height: unset;
    }
}