@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.home--heroSection {
    // background-color: red;
    width: 100%;
    @include flexIt($dir: row, $justCont: flex-start, $alignIt: stretch);
    flex: 1;
    // padding-inline: $Sites-PaddingInline;
    padding-block: $Sites-PaddingBlock;

    >* {
        flex: 1;
    }

    &--left {
        // background-color: rebeccapurple;
        @include flexIt($dir: column, $justCont: center, $alignIt: flex-start);
    }

    &--right {
        // background-color: aqua;
        width: 100%;
        z-index: 1;
        @include flexIt($dir: row, $justCont: center, $alignIt: center);
    }
}

.home--heroSection--left {
    &--textContainer {
        @include flexIt($dir: column, $alignIt: flex-start);
        text-align: left;
        width: 70%;
    }

    &--callToAction {
        margin-top: 2rem;
        background-color: var(--clr-action);
        font-size: $Fs-h2;
        color: var(--background);
        transition: transform 200ms ease-in-out;
    }

    &--callToAction:focus,
    &--callToAction:hover {
        transform: scale(1.1);
    }
}

.home--heroSection--left--textContainer {
    &--heading {
        font-size: $Fs-h1;
        font-weight: bold;
    }

    &--subHeading {
        margin-top: 1rem;
        font-size: $Fs-h3;
    }
}

.home--heroSection--right {
    &--canvas {
        width: 70%;
        // height: 100%;
        border-radius: 50%;
        background-color: var(--background);
        aspect-ratio: 1 / 1;
    }

    &--img {
        // border: 5px solid var(--foreground);
        // border-style: ridge;
        background-size: cover;
        background-position: center center;
        width: 50%;
        border-radius: 30% 5%;
        aspect-ratio: 1 / 1;
        // animation: imgWobble 2s ease-in-out infinite alternate;
        // https://9elements.github.io/fancy-border-radius/full-control.html#26.21.26.30-42.55.56.75-.
        // border-radius: 30% 5%;
        transition: border-radius 1s ease-in-out;
        position: relative;
        background-position: center;
        background-size: contain;
    }

    &--img::before,
    &--img::after {
        position: absolute;
        inset: -4px;
        z-index: -1;
        content: "";
        background: conic-gradient(from var(--gradient-angle),
                var(--foreground),
                var(--background),
                var(--clr-action),
                var(--background),
                var(--foreground),
            );
        border-radius: inherit;
        animation: rotateBorder 10s linear infinite;
        transition: background 500ms infinite;
        isolation: isolate;
    }

    &--img::after {
        filter: blur(.2rem);
    }

    &--img:hover {
        border-radius: 5% 30%;
    }

    @keyframes rotateBorder {
        0% {
            --gradient-angle: 0deg;
        }

        100% {
            --gradient-angle: 360deg;
        }
    }

    @keyframes imgWobble {
        0% {
            border-radius: 30% 5%;
        }

        100% {
            border-radius: 5% 30%;
        }
    }
}

@include for-biggerScreens {
    .home--heroSection--left--textContainer {
        &--subHeading {
            width: 70%;
        }
    }
}

@include for-smallLaptop {
    .home--heroSection--left {
        &--textContainer {
            width: 80%;
        }
    }
}

@include for-tablet {
    .home--heroSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--left {
            justify-content: center;
            align-items: center;
        }

        &--right {
            justify-content: center;
            align-items: center;
        }
    }

    .home--heroSection--left {
        &--textContainer {
            align-items: center;
            text-align: center;
        }
    }

    .home--heroSection--left--textContainer {
        &--subHeading {
            max-width: 400px;
        }
    }

    .home--heroSection--right {
        &--img {
            width: 50%;
        }
    }
}

// @media screen {
//     @media (max-width: 820px) and (max-height: 1000px) {
//         .home--heroSection--right {
//             &--img {
//                 width: 50%;
//             }
//         }
//     }
// }

@include for-phone {
    .home--heroSection--left {
        &--callToAction {
            margin-top: 1rem;
            font-size: $Fs-h3;
        }
    }

    .home--heroSection--left--textContainer {
        &--heading {
            font-size: $Fs-h1;
        }

        &--subHeading {
            // width: 70%;
            font-size: $Fs-p;
            max-width: 300px;
        }
    }

    .home--heroSection--right {
        &--img {
            width: 70%;
        }
    }
}

@include for-small-height {
    .home--heroSection {
        gap: 2rem;
    }

    .home--heroSection--left {
        &--callToAction {
            margin-top: 1rem;
            font-size: $Fs-h3;
        }
    }

    .home--heroSection--left--textContainer {
        &--heading {
            font-size: $Fs-h1;
        }

        &--subHeading {
            // width: 70%;
            font-size: $Fs-p;
        }
    }

    .home--heroSection--right {
        &--img {
            width: 60%;
        }
    }
}

@include for-phone-landscape {
    .home--heroSection {
        gap: 2rem;
    }
}