@import "./navbar/navbar";

.home {
    min-height: 100vh;
    @include flexIt($dir: column, $justCont: flex-start, $alignIt: flex-start);
    text-align: center;

    &--scrollSvg {
        // stroke: var(--foreground);
        fill: var(--foreground);
        z-index: 1;
        transform: translate(0, -60%);
    }
}

.home--scrollSvg {
    >*{
        fill: var(--foreground);
    }

    &--arrow {
        stroke: var(--clr-action);
        fill: var(--clr-action);
        animation: callToAction 1s ease-in-out infinite alternate;
    }

    @keyframes callToAction {
        0% {
            transform: translate(0, 0)
        }
        100% {
            transform: translate(0, -5%)
        }
    }
}

@include for-biggerScreens {
    .home {
        &--scrollSvg {
            transform: translate(0, -100%);
        }
    }
}

@include for-tablet {
    .home {
        align-items: center;
        &--scrollSvg {
            transform: translate(0, -20%);
        }
    }
}

@include for-phone {
    .home {
        &--scrollSvg {
            transform: translate(0, -50%);
        }
    }
}

@import "./heroSection";